.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-text {
  font-size: 5rem;
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% {
    color: red;
  }
  33% {
    color: green;
  }
  66% {
    color: blue;
  }
  100% {
    color: red;
  }
}

.logo img{
  width: 80px;
  pointer-events: none;
}

.home {
  font-size: 2rem;
  color: white;
  cursor: pointer;
}
